<!-- Screen reader announcements -->
<div aria-live="polite" id="announcer" class="sr-only"></div>

<!-- Skip to main content -->
<a href="#main-content" class="to-main-content">Skip to main content</a>

<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg" id="wrapper">

  <div id="topmenu">

<div id="districtSelect"></div>
 </div>

  	 <div class="slide">
	     <div class="map" id="mapper">
	     	<div class="reset legendary gray4">&#x2715;</div>
	     	<svg width="520" height="600" viewBox="0 0 520 600" preserveAspectRatio="xMidYMid" class="desktop"></svg>
	     	<div id="fallback" class="mobile"></div>
	     	<div class="key"></div>
	     </div>
 	</div>

 	<div id="generate">GENERATE</div>

  </div>
</main>